@charset "UTF-8";

$font_family_default: 'Segoe UI', 'Open Sans', Tahoma, Arial, sans-serif;
$font_family_arial: Arial, Tahoma, ​sans-serif;
$font_family_heading: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;

$font_family_sil: 'Shadows Into Light Two', cursive;
$font_family_lg: 'Lucida Grande', Tahoma;

$font_family_content_heading: 'Lucida Grande', Tahoma;
$font_family_code: 'Lucida Console', Consolas, Menlo, Courier, monospace;

$header_height: 46px;

$body_background: #F7F8FA;

