@charset "UTF-8";
/**
 * Mixins File
 */
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two");
html, body {
  height: 100%; }

body {
  font-family: "Segoe UI", "Open Sans", Tahoma, Arial, sans-serif;
  background: #F7F8FA;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 34px;
  line-height: 34px; }

.ant-tabs-bar {
  margin-bottom: 25px; }

.ant-tabs-nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ant-input {
  color: #000;
  font-size: 14px;
  line-height: 14px; }

.textarea.ant-input {
  resize: none; }

.modal__primary {
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; }
  .modal__primary .ant-modal {
    top: 48px;
    width: 70% !important;
    max-width: 900px;
    padding-bottom: 0;
    border-radius: 4px; }
  .modal__primary .ant-modal-content {
    background: #EDEFF0;
    border-radius: 4px;
    box-shadow: none; }
    .modal__primary .ant-modal-content .ant-modal-footer {
      display: none; }
    .modal__primary .ant-modal-content .ant-modal-header {
      border: none;
      background: transparent; }
    .modal__primary .ant-modal-content .ant-modal-body {
      padding: 20px;
      padding-bottom: 50px; }

@media (max-width: 768px) {
  .modal__primary .ant-modal {
    margin: auto;
    width: 90% !important; }
    .modal__primary .ant-modal .container {
      flex-flow: column wrap; }
      .modal__primary .ant-modal .container .aside {
        margin: 0;
        border-left: none;
        padding-left: 0;
        max-width: 100%;
        margin-top: 25px; }
      .modal__primary .ant-modal .container.card {
        margin-right: 36px; } }
a, a:hover, a:focus, a:active {
  text-decoration: none; }

input, select, textarea, label, button {
  cursor: pointer; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.underline {
  text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

div.centered {
  margin: 0 auto;
  float: none;
  overflow: hidden; }

.div-hidden {
  display: none !important; }

.invisible {
  visibility: hidden;
  display: none !important; }

.ta-left {
  text-align: left; }

.ta-right {
  text-align: right; }

.ta-center {
  text-align: center; }

.cursor-pointer {
  cursor: pointer; }

.separator {
  height: 1px;
  background: #CCC;
  margin: 30px 0; }
  .separator.light {
    background: #EEE; }

.overflow-auto {
  overflow: auto; }

.height-100p {
  height: 100%; }

.height--100p {
  height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-l-0 {
  margin-left: 0px !important; }

.m-r-0 {
  margin-right: 0px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.p-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.p-t-5 {
  padding-top: 5px !important; }

.p-l-5 {
  padding-left: 5px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-b-5 {
  padding-bottom: 5px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.m-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.p-tb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.m-tb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.p-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.m-tb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.p-tb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.m-tb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.p-tb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.p-t-40 {
  padding-top: 40px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.p-l-40 {
  padding-left: 40px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.m-tb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-l-50 {
  margin-left: 50px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.m-r-50 {
  margin-right: 50px !important; }

.p-tb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important; }

.p-t-50 {
  padding-top: 50px !important; }

.p-b-50 {
  padding-bottom: 50px !important; }

.p-l-50 {
  padding-left: 50px !important; }

.p-r-50 {
  padding-right: 50px !important; }

.m-tb-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.m-t-60 {
  margin-top: 60px !important; }

.m-l-60 {
  margin-left: 60px !important; }

.m-b-60 {
  margin-bottom: 60px !important; }

.m-r-60 {
  margin-right: 60px !important; }

.p-tb-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.p-t-60 {
  padding-top: 60px !important; }

.p-b-60 {
  padding-bottom: 60px !important; }

.p-l-60 {
  padding-left: 60px !important; }

.p-r-60 {
  padding-right: 60px !important; }

.m-tb-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.m-t-70 {
  margin-top: 70px !important; }

.m-l-70 {
  margin-left: 70px !important; }

.m-b-70 {
  margin-bottom: 70px !important; }

.m-r-70 {
  margin-right: 70px !important; }

.p-tb-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.p-t-70 {
  padding-top: 70px !important; }

.p-b-70 {
  padding-bottom: 70px !important; }

.p-l-70 {
  padding-left: 70px !important; }

.p-r-70 {
  padding-right: 70px !important; }

.m-tb-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.m-t-80 {
  margin-top: 80px !important; }

.m-l-80 {
  margin-left: 80px !important; }

.m-b-80 {
  margin-bottom: 80px !important; }

.m-r-80 {
  margin-right: 80px !important; }

.p-tb-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.p-t-80 {
  padding-top: 80px !important; }

.p-b-80 {
  padding-bottom: 80px !important; }

.p-l-80 {
  padding-left: 80px !important; }

.p-r-80 {
  padding-right: 80px !important; }

.m-tb-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important; }

.m-t-90 {
  margin-top: 90px !important; }

.m-l-90 {
  margin-left: 90px !important; }

.m-b-90 {
  margin-bottom: 90px !important; }

.m-r-90 {
  margin-right: 90px !important; }

.p-tb-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important; }

.p-t-90 {
  padding-top: 90px !important; }

.p-b-90 {
  padding-bottom: 90px !important; }

.p-l-90 {
  padding-left: 90px !important; }

.p-r-90 {
  padding-right: 90px !important; }

.m-tb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.m-t-100 {
  margin-top: 100px !important; }

.m-l-100 {
  margin-left: 100px !important; }

.m-b-100 {
  margin-bottom: 100px !important; }

.m-r-100 {
  margin-right: 100px !important; }

.p-tb-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.p-t-100 {
  padding-top: 100px !important; }

.p-b-100 {
  padding-bottom: 100px !important; }

.p-l-100 {
  padding-left: 100px !important; }

.p-r-100 {
  padding-right: 100px !important; }

.m-tb-110 {
  margin-top: 110px !important;
  margin-bottom: 110px !important; }

.m-t-110 {
  margin-top: 110px !important; }

.m-l-110 {
  margin-left: 110px !important; }

.m-b-110 {
  margin-bottom: 110px !important; }

.m-r-110 {
  margin-right: 110px !important; }

.p-tb-110 {
  padding-top: 110px !important;
  padding-bottom: 110px !important; }

.p-t-110 {
  padding-top: 110px !important; }

.p-b-110 {
  padding-bottom: 110px !important; }

.p-l-110 {
  padding-left: 110px !important; }

.p-r-110 {
  padding-right: 110px !important; }

.m-tb-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important; }

.m-t-120 {
  margin-top: 120px !important; }

.m-l-120 {
  margin-left: 120px !important; }

.m-b-120 {
  margin-bottom: 120px !important; }

.m-r-120 {
  margin-right: 120px !important; }

.p-tb-120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important; }

.p-t-120 {
  padding-top: 120px !important; }

.p-b-120 {
  padding-bottom: 120px !important; }

.p-l-120 {
  padding-left: 120px !important; }

.p-r-120 {
  padding-right: 120px !important; }

/**
 * Flex Styles
 */
/*
	justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;
 */
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /*
  	flex-bassis: 50%;
  	100%
   */ }
  .flex.flex--sb {
    justify-content: space-between; }
  .flex.flex--align-center {
    align-items: center; }
  .flex.flex__jc__s {
    justify-content: flex-start; }
  .flex.flex--jc-sa {
    justify-content: space-around; }
  .flex.row {
    flex-direction: row;
    flex-wrap: wrap; }
  .flex.flex__row {
    flex-flow: row wrap; }
  .flex.column {
    flex-flow: column wrap; }
  .flex.nowrap {
    flex-wrap: nowrap; }
  .flex .row-equal {
    flex: 1; }
  .flex .row-1 {
    flex: 1; }
  .flex .row-2 {
    flex: 2; }
  .flex .row-3 {
    flex: 3; }
  .flex .row-4 {
    flex: 4; }
  .flex .row-p-50 {
    flex-bassis: 50%;
    max-width: 50%; }
  .flex .row-p-55 {
    flex-bassis: 55%;
    max-width: 55%; }
  .flex .row-p-60 {
    flex-bassis: 60%;
    max-width: 60%; }
  .flex .row-p-70 {
    flex-bassis: 70%;
    max-width: 70%; }

@-moz-document url-prefix() {
  .component__productivity__lists .content .cards-list .card {
    max-width: 255px;
    width: auto !important; } }
h1 {
  color: #000;
  line-height: 100%; }

h2 {
  line-height: 100%; }
  h2 span {
    font-family: Arial, Tahoma, ​sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: #AAA;
    font-weight: 400;
    margin-left: 10px; }

/**
 * Component: Loading
 */
.component__loading {
  display: flex;
  width: 100%; }
  .component__loading.default {
    margin: 100px 0;
    justify-content: center; }
  .component__loading.full-page {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: 100px 0;
    justify-content: center; }
  .component__loading .bar-container {
    border: 3px solid #ffeb3c;
    padding: 2px; }
  .component__loading .bar {
    width: 100%;
    min-width: 240px;
    margin: 0 auto;
    height: 18px;
    background-image: repeating-linear-gradient(-45deg, #DDD, #DDD 11px, #FFF 10px, #FFF 20px);
    background-size: 28px 28px;
    animation: move 1s linear infinite; }
@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 28px 0; } }
  .component__loading .info {
    font-size: 13px;
    color: #000;
    line-height: 20px;
    margin-top: 5px; }

body.transparent-header header#main {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3); }

header#main {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background: #2c539e;
  padding: 0 40px;
  z-index: 100;
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49); }
  header#main.board_view {
    background: rgba(0, 0, 0, 0.25); }
  header#main .logo {
    flex: 1;
    padding: 8px 0; }
    header#main .logo .text {
      font-size: 18px;
      line-height: 30px;
      font-weight: 600;
      letter-spacing: -1px; }
      header#main .logo .text span.light {
        font-weight: 400;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 0.6); }
      header#main .logo .text a {
        color: rgba(255, 255, 255, 0.9); }
    header#main .logo img {
      width: auto;
      max-width: 100%; }
  header#main nav {
    color: #CCC;
    display: flex; }
    header#main nav a {
      display: block;
      float: left;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      line-height: 46px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      header#main nav a.active {
        color: #FFF; }
    header#main nav span.separator {
      display: block;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      width: 1px;
      margin: 0;
      margin: 0 10px; }

.has-fh {
  padding-top: 46px; }

main.body-wrapper {
  width: auto;
  padding: 50px 40px;
  padding-bottom: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.layout__auth h1 {
  line-height: 100%; }

.component__login {
  margin: 0 auto;
  max-width: 400px;
  padding: 40px;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.1), 0px 0 0 rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); }

.component__signup {
  margin: 0 auto;
  max-width: 600px;
  padding: 40px;
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.1), 0px 0 0 rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); }

.component__productivity__board .board-container {
  margin-bottom: 12px; }
.component__productivity__board .board {
  padding: 20px;
  cursor: pointer;
  min-height: 100px;
  height: 100%;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background: #FEA;
  border: 1px solid #FFE063;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .component__productivity__board .board:hover {
    background: #ffda44; }
  .component__productivity__board .board .title {
    font-family: "Lucida Grande", Tahoma;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    color: #000;
    letter-spacing: -1px; }
  .component__productivity__board .board .description {
    font-size: 13px;
    line-height: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.59); }
.component__productivity__board .create {
  background: #E2E4E6;
  border-color: #CCC;
  color: #000;
  font-size: 14px;
  max-height: 100%;
  transition: none !important; }
  .component__productivity__board .create:hover {
    background: #E2E4E6; }
  .component__productivity__board .create.create-form {
    border: none;
    padding: 0; }

.component__productivity__board .card__form {
  color: #000;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .component__productivity__board .card__form form {
    border-color: #CCC;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: default; }
  .component__productivity__board .card__form .ant-form-item-label {
    padding: 0;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px; }
  .component__productivity__board .card__form .ant-card-head-title {
    text-align: center; }
  .component__productivity__board .card__form .ant-card-bordered {
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC; }
  .component__productivity__board .card__form .ant-card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); }

header.productivity {
  padding: 11px 40px;
  margin: -50px -40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  header.productivity.default {
    color: #333333; }
    header.productivity.default .description {
      color: #777777; }
  header.productivity.light {
    color: white; }
    header.productivity.light .description {
      color: rgba(255, 255, 255, 0.9); }
  header.productivity.dark {
    color: black; }
    header.productivity.dark .description {
      color: rgba(0, 0, 0, 0.7); }
  header.productivity .title {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 18px;
    font-weight: 600; }
  header.productivity .description {
    font-family: "Lucida Grande", Tahoma;
    font-size: 15px;
    line-height: 100%;
    font-weight: normal;
    margin-left: 10px;
    letter-spacing: -1px; }

.modal__primary header {
  display: flex; }
  .modal__primary header i {
    margin-right: 10px;
    font-size: 20px;
    line-height: 28px; }
  .modal__primary header .info {
    flex: 1; }
  .modal__primary header .title {
    font-size: 18px;
    line-height: 20px;
    color: #4D4D4D;
    font-weight: 600;
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .modal__primary header .title span {
      font-weight: 800;
      color: #000; }
    .modal__primary header .title.editable {
      cursor: pointer; }
      .modal__primary header .title.editable:hover {
        background: rgba(255, 255, 255, 0.9); }
      .modal__primary header .title.editable span {
        font-weight: inherit;
        color: inherit; }
  .modal__primary header .list {
    margin-top: 2px;
    margin-left: 6px;
    font-size: 14px;
    line-height: 14px;
    color: #8c8c8c; }
    .modal__primary header .list span.underline {
      text-decoration: underline;
      cursor: pointer; }
.modal__primary .container {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 20px;
  overflow: visible;
  display: flex; }
  .modal__primary .container .content {
    min-height: 200px;
    flex: 1; }
    .modal__primary .container .content.full {
      width: 100%; }
  .modal__primary .container.card {
    margin-right: 16px; }
    .modal__primary .container.card .content {
      min-height: 300px;
      overflow: hidden; }
.modal__primary .aside {
  flex: 1;
  border-left: 1px solid #DDD;
  margin-left: 20px;
  padding-left: 20px;
  max-width: 150px; }
  .modal__primary .aside button {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 4px 10px;
    height: 28px; }
    .modal__primary .aside button:last-child {
      margin-bottom: 0; }

.modal__primary form .ant-form-item-label {
  line-height: 100%; }
.modal__primary form textarea {
  resize: none; }

.modal__primary .content .heading {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  color: #8C8C8C;
  border-bottom: 1px solid rgba(204, 204, 204, 0.46);
  padding-bottom: 5px; }
.modal__primary .content .value {
  cursor: pointer; }
.modal__primary .content .public {
  cursor: default !important; }
.modal__primary .content .empty--content {
  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: #4D4D4D;
  font-size: 14px;
  line-height: 14px;
  text-decoration: underline; }
  .modal__primary .content .empty--content i {
    font-size: 14px;
    margin-right: 6px; }
  .modal__primary .content .empty--content:hover {
    background: #D6DADC; }
.modal__primary .content .card--description {
  max-height: 260px;
  overflow: auto; }
  .modal__primary .content .card--description h1, .modal__primary .content .card--description h2, .modal__primary .content .card--description h3 {
    margin-bottom: 10px; }
  .modal__primary .content .card--description h1 {
    font-size: 24px;
    color: #000;
    line-height: 100%; }
  .modal__primary .content .card--description h2 {
    font-size: 20px;
    color: #333;
    line-height: 100%; }
  .modal__primary .content .card--description h3 {
    font-size: 17px;
    color: #333;
    line-height: 100%; }
  .modal__primary .content .card--description p {
    font-size: 14px;
    line-height: 16px;
    color: #444;
    margin-bottom: 15px; }
    .modal__primary .content .card--description p:last-child {
      margin-bottom: 0; }
  .modal__primary .content .card--description ol, .modal__primary .content .card--description ul {
    margin: 15px 0;
    margin-left: 20px; }
  .modal__primary .content .card--description ol {
    list-style-type: decimal; }
  .modal__primary .content .card--description ul {
    list-style-type: square; }
  .modal__primary .content .card--description pre {
    margin: 15px 0;
    background: rgba(3, 169, 244, 0.19);
    color: #000;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid rgba(3, 169, 244, 0.29); }
    .modal__primary .content .card--description pre code {
      background: none;
      padding: 0;
      font-size: inherit; }
  .modal__primary .content .card--description code {
    background: rgba(255, 250, 204, 0.84);
    padding: 0 4px;
    font-size: 13px; }

.component__key_val_wrapper .component__key_val {
  margin-bottom: 10px; }
  .component__key_val_wrapper .component__key_val:last-child {
    margin-bottom: 0; }

.component__key_val {
  display: flex;
  flex-flow: row wrap; }
  .component__key_val .key {
    width: 120px;
    line-height: 28px;
    border-radius: 3px;
    margin-right: 20px;
    border: 1px solid #CCC;
    font-weight: 600;
    padding: 0 10px;
    text-align: right; }
  .component__key_val .val {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    line-height: 22px; }
    .component__key_val .val .full-width {
      display: flex;
      width: 100%;
      flex: 1;
      word-break: break-all; }
    .component__key_val .val input.ant-calendar-picker-input {
      height: 20px; }
    .component__key_val .val .link {
      flex: 1; }
      .component__key_val .val .link a {
        height: 22px;
        display: flex;
        overflow: hidden; }
    .component__key_val .val .data--edit--inline {
      width: 100%;
      flex: 1; }
      .component__key_val .val .data--edit--inline button {
        height: 24px;
        margin-top: 2px; }
      .component__key_val .val .data--edit--inline .label {
        line-height: 28px;
        margin-right: 6px; }

.component__heading {
  display: flex; }
  .component__heading.center {
    justify-content: center; }
  .component__heading .icon {
    margin-right: 20px;
    font-size: 30px;
    line-height: 100%; }
  .component__heading h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 30px;
    line-height: 34px;
    color: #000;
    font-weight: normal; }
  .component__heading .subtitle {
    font-family: "Lucida Grande", Tahoma;
    font-size: 15px;
    line-height: 15px;
    color: #000;
    margin-top: 10px;
    max-width: 400px; }

.component__productivity__lists {
  margin-top: 55px;
  height: calc(100vh - 115px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-family: Helvetica, ​Arial, ​sans-serif;
  display: flex;
  margin-left: -30px;
  margin-right: -30px; }
  .component__productivity__lists .board-lists {
    touch-action: none; }
  .component__productivity__lists .list {
    min-width: 270px;
    margin: 0 5px;
    height: 96%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap; }
  .component__productivity__lists .list .ant-spin-nested-loading, .component__productivity__lists .list .ant-spin-container {
    height: 100% !important; }
  .component__productivity__lists .list.autoheight .ant-spin-nested-loading, .component__productivity__lists .list.autoheight .ant-spin-container {
    height: auto !important; }
  .component__productivity__lists .list-sortable-ghost .content {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2); }
    .component__productivity__lists .list-sortable-ghost .content > * {
      opacity: 0; }
  .component__productivity__lists .list-sortable-drag {
    background: transparent; }
    .component__productivity__lists .list-sortable-drag .content {
      opacity: 1;
      box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.5);
      transform: rotate(4deg); }
  .component__productivity__lists .content {
    background: #E2E4E6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal; }
  .component__productivity__lists .content header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 8px 10px;
    color: #4d4d4d;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .component__productivity__lists .content header .title {
      margin-right: 20px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700; }
    .component__productivity__lists .content header i {
      font-size: 18px;
      color: #999; }
    .component__productivity__lists .content header a {
      display: block;
      border-radius: 3px;
      height: 18px;
      min-width: 20px;
      text-align: center; }
      .component__productivity__lists .content header a:hover {
        background: rgba(0, 0, 0, 0.15); }
  .component__productivity__lists .content .card-creator {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .component__productivity__lists .content .card-creator a.add-card {
      border-radius: 0 0 3px 3px;
      color: #8c8c8c;
      padding: 8px 10px;
      display: block;
      font-size: 14px;
      line-height: 100%; }
      .component__productivity__lists .content .card-creator a.add-card:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #4d4d4d;
        text-decoration: underline; }
  .component__productivity__lists .content .cards-list {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .component__productivity__lists .content .cards-list .card-sortable-ghost {
      opacity: 1;
      background: rgba(0, 0, 0, 0.15) !important; }
      .component__productivity__lists .content .cards-list .card-sortable-ghost > * {
        opacity: 0; }
    .component__productivity__lists .content .cards-list .card-sortable-drag {
      background: transparent !important;
      border-bottom: 0 !important; }
      .component__productivity__lists .content .cards-list .card-sortable-drag .card--content {
        border-radius: 3px;
        background: #FFF;
        transform: rotate(4deg) !important;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.5); }
    .component__productivity__lists .content .cards-list .card {
      background-color: #FFF;
      border-bottom: 1px solid #CCC;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 6px;
      width: 255px;
      min-height: 20px;
      position: relative;
      z-index: 0;
      font-size: 14px;
      line-height: 100%;
      color: #4D4D4D; }
      .component__productivity__lists .content .cards-list .card .title {
        padding: 8px; }
      .component__productivity__lists .content .cards-list .card:hover {
        background: #EDEFF0; }
      .component__productivity__lists .content .cards-list .card .image {
        background: rgba(158, 158, 158, 0.54);
        border-radius: 3px; }
        .component__productivity__lists .content .cards-list .card .image img {
          display: block;
          width: 100%;
          border-radius: 3px; }
        .component__productivity__lists .content .cards-list .card .image .loading {
          padding: 30px; }
        .component__productivity__lists .content .cards-list .card .image .error {
          padding: 30px; }
      .component__productivity__lists .content .cards-list .card .actions {
        padding: 8px;
        padding-top: 0;
        display: flex; }
        .component__productivity__lists .content .cards-list .card .actions > div {
          margin-left: 10px; }
          .component__productivity__lists .content .cards-list .card .actions > div:first-child {
            margin-left: 0; }
        .component__productivity__lists .content .cards-list .card .actions a {
          font-size: 14px;
          color: #999;
          margin-right: 5px; }
          .component__productivity__lists .content .cards-list .card .actions a:last-child {
            margin-right: 0; }
          .component__productivity__lists .content .cards-list .card .actions a span {
            margin-left: 2px; }
        .component__productivity__lists .content .cards-list .card .actions .duedate {
          padding: 0 4px;
          height: 16px;
          line-height: 14px;
          font-size: 12px;
          border-radius: 2px; }
        .component__productivity__lists .content .cards-list .card .actions .icon {
          font-size: 14px;
          line-height: 16px; }
          .component__productivity__lists .content .cards-list .card .actions .icon span {
            margin-left: 4px;
            font-size: 12px;
            line-height: 100%;
            font-weight: bold; }
        .component__productivity__lists .content .cards-list .card .actions .icon a:hover {
          color: #2196F3; }
        .component__productivity__lists .content .cards-list .card .actions .right {
          margin-left: auto !important; }
  .component__productivity__lists .component__list__new .card {
    background: rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: #000;
    padding: 10px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .component__productivity__lists .component__list__new .card:hover {
      background: rgba(0, 0, 0, 0.3); }
  .component__productivity__lists .card__new {
    padding: 10px; }
    .component__productivity__lists .card__new .links {
      margin-top: 4px; }
      .component__productivity__lists .card__new .links button {
        margin-right: 5px; }
        .component__productivity__lists .card__new .links button:last-child {
          margin-right: 0; }
    .component__productivity__lists .card__new textarea {
      font-size: 14px;
      line-height: 14px;
      color: #000;
      width: 100%;
      resize: none;
      border-radius: 3px;
      border: 1px solid;
      border-color: #CCC;
      padding: 8px;
      min-height: 30px; }

.component__custom_scrollbar {
  -webkit-overflow-scrolling: touch; }
  .component__custom_scrollbar ::-webkit-scrollbar {
    height: 12px;
    width: 9px; }
  .component__custom_scrollbar ::-webkit-scrollbar-button:end:increment,
  .component__custom_scrollbar ::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: none; }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:vertical {
    background: transparent; }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:horizontal {
    background: rgba(0, 0, 0, 0.2); }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 5px 5px 0 0; }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 5px 5px; }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px; }
  .component__custom_scrollbar ::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0; }
  .component__custom_scrollbar ::-webkit-scrollbar-thumb:horizontal,
  .component__custom_scrollbar ::-webkit-scrollbar-thumb:vertical {
    background: #C4C9CC;
    border-radius: 5px;
    display: block;
    height: 50px; }

.list__dropdown__actions {
  background: #FFF;
  width: 300px;
  border: 1px solid #D6DADC;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  margin: -7px -16px; }
  .list__dropdown__actions .title {
    margin: 0 8px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0;
    color: #8c8c8c;
    border-bottom: 1px solid #D6DADC;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1; }
  .list__dropdown__actions .links {
    margin: 0 8px;
    padding: 10px 0; }
    .list__dropdown__actions .links a {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      display: block;
      color: #444;
      padding: 6px 10px;
      margin: 0 -8px;
      transition: none; }
      .list__dropdown__actions .links a:hover {
        background: #298FCA;
        color: #FFF; }
    .list__dropdown__actions .links span.link-separator {
      display: block;
      background: #D6DADC;
      border: 0;
      color: #D6DADC;
      height: 1px;
      width: 100%;
      margin: 6px 0; }

.button, a.button {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #FFF !important;
  background: #333;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  outline: 0;
  text-decoration: none !important;
  padding: 4px 10px;
  display: inline-block;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button:hover, .button:focus, a.button:hover, a.button:focus {
    color: #FFF !important; }
  .button:active, a.button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1); }
  .button.full, a.button.full {
    display: block; }
  .button.size-medium, a.button.size-medium {
    padding: 6px 20px; }
  .button.button-green, a.button.button-green {
    background: #009E0F; }
  .button.button-info, a.button.button-info {
    background: rgba(16, 142, 233, 0.82); }
    .button.button-info:hover, a.button.button-info:hover {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1); }
  .button.button-yellow, a.button.button-yellow {
    background: #FFFF00;
    color: #000 !important; }
  .button.button-pink, a.button.button-pink {
    background: #FF4848; }
  .button.button-delete, a.button.button-delete {
    background: #C9302C;
    border-color: #C9302C; }

.component__todo_list.empty {
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  border-radius: 4px; }
  .component__todo_list.empty p {
    font-size: 14px;
    line-height: 100%;
    text-align: center; }
.component__todo_list .item {
  display: flex;
  border-bottom: 1px solid rgba(204, 204, 204, 0.46);
  padding-bottom: 5px;
  margin-bottom: 5px; }
  .component__todo_list .item .status {
    margin-right: 10px; }
  .component__todo_list .item .info {
    color: #8C8C8C;
    flex: 1;
    cursor: pointer; }
    .component__todo_list .item .info .title {
      font-size: 14px;
      line-height: 18px;
      color: #000;
      font-weight: 600; }
    .component__todo_list .item .info .description {
      font-size: 13px;
      line-height: 13px;
      margin-top: 3px; }
.component__todo_list.edit {
  background: #fffad1;
  flex: 1;
  border: 1px solid #e2d992;
  padding: 10px;
  border-radius: 4px; }
.component__todo_list.add_new {
  background: #c6edff;
  border: 1px solid rgba(3, 169, 244, 0.64);
  padding: 20px;
  border-radius: 4px; }

.component__info__header {
  background: #fffacf;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #ffe503;
  padding: 10px  40px;
  font-family: "Lucida Grande", Tahoma;
  color: #000;
  border-bottom-width: 3px; }

.component__groups .item {
  border: 1px solid #CCC;
  padding: 10px  30px;
  font-family: "Lucida Grande", Tahoma; }
.component__groups .name {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000; }
.component__groups .description {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  margin-top: 5px; }
.component__groups .actions {
  margin-top: 6px; }
  .component__groups .actions a {
    font-size: 12px;
    line-height: 12px;
    margin-right: 15px;
    background: #2196f3;
    padding: 2px 10px;
    border-radius: 2px;
    color: #FFF;
    border: 1px solid #0c7cd5;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .component__groups .actions a:hover {
      background: #000; }
    .component__groups .actions a:last-child {
      margin-right: 0; }

.component__groups.empty {
  background: #d1f1ff;
  border: 1px solid #6bd2ff;
  padding: 40px;
  border-radius: 3px;
  font-family: "Lucida Grande", Tahoma; }
  .component__groups.empty p {
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 5px;
    color: #333; }

.component__board__groups {
  margin-top: 80px;
  margin-bottom: 40px; }
  .component__board__groups .item_group {
    margin-bottom: 80px; }
  .component__board__groups .empty {
    background: #d3ecff;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 3px;
    max-width: 500px;
    border: 2px solid #b4dbf9;
    font-family: "Lucida Grande", Tahoma; }
    .component__board__groups .empty p {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;
      color: #333; }
      .component__board__groups .empty p:last-child {
        margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
