<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Productivity Application</title>
	<meta name="description" content="Productivity application built using React, AntD, React Router, GraphQL and more.">
	<meta name="author" content="Dhruv Kumar Jha">
	<link rel="icon" href="/images/favicon.png">

	<!-- place all the generated css files here -->
	<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="/<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
	<% } %>

	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<div id="application__core">
		<div class="component__loading full-page">
			<div class="loading">
				<div class="bar-container">
					<div class="bar"></div>
				</div>
				<p class="info">Loading... Please wait.</p>
			</div>
		</div>
	</div>

	<script>
		window.__API__ENDPOINT__ = "<%= htmlWebpackPlugin.options.api_endpoint || 'https://pro-app-api.herokuapp.com' %>/graphql";
	</script>

	<!-- place all the generated js here -->
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script defer src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
	<% } %>

</body>
</html>